.container{
    background-color: rgb(0, 255, 242);
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.box-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
}

.box2{
    background-color: rgb(255, 242, 0);
}