/* 
📜  transition (გადასვლა) - რამდენ ხანში უნდა შეასრულოს მოზრაობა
მაგ: transition: 0.70s; 
0.70s-ის ნაცვლად ჩვენ შეგვიძლია ნებისმიერი დრო მივუთითოთ

📜  hover - როგორი უნდა იყოს ელემენტის ვიზუალი შეხების დროს
მაგ: 
#parent:hover{
    box-shadow: -15px -15px 50px;
    border-radius: 50%;
}

📜  active - როგორი უნდა იყოს ელემენტის ვიზუალი დაკლიკების დროს
მეგ:
#parent:active {
    width: 1000px;
}

📜📜📜 styling links - ლინკების გასტილვა ->
a:link - განსაზღვრავს იმ მდგომარეობას როდესაც მომხმარებელი არ არის ლინკზე ნამყოფი.
a:visited - ისეთი ლინკები რომელზეც ვართ ნამყოფი როგორ სტილში უნდა იყოს.
a:active - როდესაც მომხმარებელი ხელს აწკაპებს
a:hover - როდესაც მომხმარებელი ელემენტს ეხება მაუსით

📜 text-decoration - ამით ჩვენ ვსტილავთ ლინკებს

📜  filter: blur(2px) - ამით ჩვენ ვბურავთ ფოტოებს

📜  background-position - ვაკონტროლებთ ფოტოს

📜  background-size - ბეგრაუნდის ზომის განსაზღვრა
background-size: contain; - ის აჯენს ფოტოს ზუსტად (ყველაზე კარგი)

📜📜📜  display - ჩვენ ამით შეგვიძლია შევცვალოთ იყოს ელემენტები ერთ რიგზე თუ არა (განლაგების შეცვლა).
1. display: inline; - ამით ლინკები დაიკავებენ იმდენ ადგილს რამდენიც სჭირდებათ (ამით შეგვიძლია ლინკები განვალაგოთ ჰორიზონტალურად. ერთ ხაზზე)
2. display: block; - ხოლო ამით არ იყოს ერთ ხაზზე
3. display: flex; - ამით ჩვენ შეგვიძლია შევქმნათ ერთ განზომილებიანი განლაგებები (რიგი ან სვეტი)

📜  list-style-type - ამით ჩვენ შეგვიძლია ვაკონტროლოთ ლინკების ნიშნები (წრეები, წერტილები და ასე შემდეგ)
list-style-type: none; - მოვაშორებთ ყველაფერს

📜  position - პოზიციები
position: fixed; - ამით ჩვენ შეგვიძლია რომ ელემენტი დავტოვოთ ამოსქროლვის შემთხვევაში კუთხეში/სადაც დავაყენებთ.
(ანუ ჩვენ როდესაც ამოვსქროლავთ საიტს მას სულ შევხედავთ)


📜  flex-direction -  ამის გამოყენებით ჩვენ შეგვიძლია შევცვალოთ მთვარი ღერძი ანუ X

📜  flex-direction: column; - ის ელემენტებს განალაგებს ერთმანეთის ქვევით ხოლო
📜  flex-direction: row; - მაშინ ერთმანეთის გვერდიგვერდ იქნებიან. ამათში კიდევ არსებობს ერთი რაღაც ->
📜  gap - რომელიც აშორებს ამ ელემენტებს ერთმანეთისგან


📜  justify-content - ეს გამოიყენება რომ შენ გასტილო მთავარი ღერძის კოორდინატები.
justify-content: center; - ელემენტები განლაგდება ცენტრში

📜  align-items - რომ გავსტილოთ გადამკვეთი ღერძის კოორდინატები (Y ღერძი).
align-items: center; - ელემენტები გადააქვს შუაში Y ღერძზე.

📜  outline: none; -ამით ჩვენ input-ებს ვაშორებთ გარეხაზს

📜  cursor: pointer; - შეხების დროს დაეხატება თითები

📜  grid-column-end: span; - რამდენი ბლოკი უნდა მოიცვას

📜  letter-spacing -  ამით ჩვენ ვაკეთებთ სფეისებს ასოებს შორის

*/